body{
    background-color: #48de97;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
h1,
p,
h2,
h3 {
  text-align: center;
  color: white;
  margin: 0px;
}
.row {
  text-align: center;
  color: white;
}

.card {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #690909;
  cursor: pointer;
}
@media only screen and (max-width: 430px) {
  .card {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 275px) {
  .card {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 150px) {
  .card {
    width: 20px;
    height: 20px;
  }
}

.card.done {
  cursor: default;
}

.card.done:hover {
  cursor: default;
  box-shadow: none;
}

.card:hover {
  box-shadow: inset 0px 0px 0px 1px #48de97;
  box-sizing: border-box;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.cyan {
  background-color: cyan;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}
.teal {
  background-color: teal;
}

.color-hidden {
  background-color: darkviolet;
}
.button {
text-align: center;

}
button {
  background-color: #0e4ba5;
  color: white;
  cursor: pointer;
  width: 90px;
  height: 40px;
}